/* Body styles */
body {
    font-family: 'Segoe UI', sans-serif;
    margin: 15px;
    color: #000000;
    text-align: left;
}

/* Headings */
h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
    color: #000000;
    text-transform: uppercase;
}

/* Form */
form {
    font-family: 'Segoe UI', sans-serif;
    background: #ffffff;
    box-shadow: 0 8px 20px rgba(61, 130, 79, 0.1);
    box-sizing: border-box; /* Include padding in total width calculation */
}

label {
    font-size: 1.5rem;
    color: #000000;
    margin-bottom: 8px;
    display: block;  /* Ensures labels are on separate lines */
}

input, button {
    display: block;
    border: 2px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: center;
}

input:focus, button:focus {
    border-color: #71caa8; 
    box-shadow: 0 0 10px rgba(76, 145, 175, 0.4);
}

input {
    background-color: #fafafa;
}

button {
    background-color: #5ad16e; 
    color: rgb(0, 0, 0);
    cursor: pointer;
}

button:hover {
    background-color: #71caa8; 
}

/* Subtle divider line for sections within the form */
hr {
    border: 0;
    border-top: 2px solid #ddd;
    margin: 20px 0;
}

/* Custom Class Selectors */
.container {
    padding: 20px;
    border: 2px solid #ddd;
    margin: 20px 0;
    border-radius: 10px;
}

.requirements {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.game-section {
    background-color: #e0e0e0;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

#footer {
    background-color: #d5d2d2;
    color: white;
    text-align: center;
    padding: 10px;
}